* {margin: 0px;}
.nav {display: flex;height: 80px;align-items: center;border-bottom: solid 1px; color: black; font-family: montserrat;font-size: 20px; font-weight: 700;}
.nav-left-items {margin-right: auto;display: flex;}
.nav-right-items {margin-left: auto;display: flex;}
.nav-item {margin-left: 10px; margin-right: 10px;}
.nav a:link, a:visited {color: black;text-decoration: none;}
.nav a:hover {color: lightgrey;transition: 0.5s;}
/*cosmetic html*/
.header {
  padding: 80px;
  text-align: center;
  background: linear-gradient(to bottom, #ffe6e6 70%, #fff7e6 100%);
  color: #000000;
  font-size: 20px;
}
.cosmetic-section {
  background-color: #ffffe6f;
  color: black;
}
.header-item {
  height: 100px;
  padding: 10px;
  display: flex;
  margin: 15px;
  left: 15px;
  right: 15px;
  bottom: 4px; 
}
.introduce_img {
  height: 500px;
  width: 700px;
  margin: 60px;
  background-color: #fff7e6;
}
.introduce1 {
  background-color: #fff7e6;
}
.introduce2 {
  float: right; 
  background-color: #ffffe6f;
  margin: 180px 180px 75px;
  font-size: 15px ;
}
 
 /*crewpick*/
.crew-pick-wrap {
  background-color: #fff7e6;
  
}
.h1-i {
  text-align: center;
  padding: 25px;
}
.h5-i {
  text-align: center;
  padding: 15px;
}
.crew-pick-list > li {
  float: left;
  list-style: none;
  padding: 20px;
}
.신세경1-img {
   height: 444px;
   width: 348x;
}
.신세경2-img {
   height: 444px;
   width: 348x;
}
.신세경3-img {
   height: 444px;
   width: 348x;
}
.신세경4-img {
   height: 444px;
   width: 348x;
}
 /*review research*/
.review {
  background-color: #fff7e6;
  padding-top: 80px;
}
.research {
  background-color: #fff7e6;
}
.review-video {
   margin: 48px;
 }
.research-video {
  margin: 60px;
}


/*brandstory*/
.header-menu {
  padding: 30px;
}
.header-item {
  style: none;
}
.a-menu {
  color: #ff6666;
}
.a-menu:hover {
  color: #ff9999;
  transition: 0.5s;
}

.header-item  div  ul { list-style: none; display:none; position:absolute; top:220px; left:380px;}
.header-item  div:hover ul { display:block; }
.header-item div ul a {width:120px; height:5px; background-color: none; color:#ca7878; text-align:center; line-height:37px; }
.header-item div ul a:hover { background-color: none; }



.brandstory {
  background: #fff7e6;
}
.dog {
  background: url("./img/dog.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: #000000;
}
.p-dog {
  width: 626px; height: 417px;
  text-align: right; 
  margin: 0px 30px 30px auto ;
}
.nature {
  background: url("./img/nature.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: #000000;
}
.p-nature {
  width: 626px; height: 417px;
  text-align: right; 
   margin: 0px 30px 40px auto ;
}
.donate {
  background: url("./img/donate.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: #000000;
}
.p-donate {
  width: 626px; height: 417px;
  text-align: right; 
   margin: 0px 30px 40px auto ;
}

/* foryou */
.foryou {
  background: #fff7e6;
}
.foryou-information {
  padding: 40px;
}
.foryou-list > li {
  float: left;
  list-style: none;
  padding: 20px;
}
.atopy {
  float: right;
  margin: 180px 180px 75px;
  font-size:15px ;
}
.information-img {
   padding: 40px ;
   height: 444px;
   width: 650x;
}

.skindisease {
  background-color: #fff7e6;
}
.basic {
  background-color: #fff7e6;
}
.eventform {
  width: 800px;
  height: 500px;
}
.event-img {
  list-style: none;
}
